In [47]:
import pandas as pd

In [57]:
from sklearn.preprocessing import MinMaxScaler

## Load Data

In [48]:
disney = pd.read_csv('data/disney_pics.csv').drop(['Unnamed: 0', 'name'], axis = 1)
disney.head()

,width,height,mean_hue,mean_saturation,mean_value,mean_entropy,edge_sum
0,67,98,0.272307,0.148943,0.831144,3.778824,0.819642
1,99,99,0.346913,0.500670,0.275656,4.424552,0.585586
2,99,99,0.453854,0.168975,0.484728,4.181699,0.481131
3,99,99,0.351184,0.669260,0.497502,4.214874,0.554411
4,99,99,0.136235,0.926444,0.331088,3.405405,0.365691

In [49]:
hayao = pd.read_csv('data/hayao_pics.csv').drop(['Unnamed: 0', 'name'], axis = 1)
hayao.head()

,width,height,mean_hue,mean_saturation,mean_value,mean_entropy,edge_sum
0,67,98,0.281277,0.530815,0.231668,3.895495,0.583236
1,99,99,0.273528,0.405424,0.722306,4.257138,0.662596
2,147,100,0.600145,0.325997,0.711840,3.021263,0.270850
3,147,100,0.507668,0.685993,0.552678,3.737993,0.201171
4,147,100,0.154216,0.728086,0.574216,4.672342,0.498490

In [51]:
# assign labels to each df for classification
label_disney = ['D'] * disney.shape[0]
disney = disney.assign(label=label_disney)
label_hayao = ['H'] * hayao.shape[0]
hayao = hayao.assign(label = label_hayao)

In [55]:
# combine two dfs into one
data = pd.concat([disney,hayao])

# shuffle data
data = data.sample(frac = 1, replace = False).reset_index(drop = True)
data

,width,height,mean_hue,mean_saturation,mean_value,mean_entropy,edge_sum,label
0,67,98,0.332260,0.504506,0.429520,5.409167,0.830113,D
1,67,98,0.414362,0.625495,0.252738,4.525598,0.740875,D
2,99,99,0.222617,0.179395,0.899457,3.254742,0.605680,D
3,99,99,0.523701,0.514462,0.504944,5.350715,0.816332,H
4,67,98,0.272307,0.148943,0.831144,3.778824,0.819642,D
...,...,...,...,...,...,...,...,...
496,99,99,0.543502,0.192092,0.557796,3.681758,0.274290,D
497,67,98,0.073072,0.108658,0.909020,2.245484,0.672271,D
498,147,100,0.446933,0.358252,0.800088,3.297099,0.326046,H
499,147,100,0.332648,0.672895,0.361809,4.204002,0.573785,H
500,99,99,0.376776,0.406562,0.549365,4.204715,0.368164,D

## Feature Engineering

In [53]:
data.describe()

,width,height,mean_hue,mean_saturation,mean_value,mean_entropy,edge_sum
count,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000,501.000000
mean,102.033932,99.007984,0.365262,0.436018,0.547438,4.366570,0.537332
std,23.699301,0.583040,0.165117,0.184130,0.182753,0.764381,0.183716
min,67.000000,98.000000,0.001462,0.000068,0.046154,0.801167,0.110002
25%,99.000000,99.000000,0.246940,0.316454,0.415992,4.026364,0.404776
50%,99.000000,99.000000,0.365365,0.443637,0.547617,4.482826,0.513117
75%,99.000000,99.000000,0.491058,0.567867,0.678632,4.907562,0.648178
max,147.000000,100.000000,0.884856,0.926444,0.968928,5.656472,1.262019

In [56]:
X = data.drop('label', axis = 1)
y = data.label

In [58]:
# width/height - MinMaxScaler[0,1]
mms = MinMaxScaler(feature_range = (0,1))
mms.fit_transform(X)

array([[0.        , 0.        , 0.37446193, ..., 0.41545001, 0.94906491,
        0.6250866 ],
       [0.        , 0.        , 0.46740143, ..., 0.22387304, 0.7670847 ,
        0.54762498],
       [0.4       , 0.5       , 0.25034641, ..., 0.92471455, 0.50533889,
        0.43026962],
       ...,
       [1.        , 1.        , 0.50427178, ..., 0.81702945, 0.51406282,
        0.18753561],
       [1.        , 1.        , 0.37490131, ..., 0.34207188, 0.70084878,
        0.4025833 ],
       [0.4       , 0.5       , 0.42485434, ..., 0.54532403, 0.70099556,
        0.22409542]])